<h1>{{title}}</h1>
<p>{{genre}}</p>
<p>{{plot}}</p>

{{#each cast}}

<p>{{name}}</p>
<p>{{occupation}}</p>
<p>{{catchPhrase}}</p>

{{/each}}


<form action="movies/{{id}}/delete" method="POST">
    <input type="submit" value="delete">

    <form action="movies/{{id}}/edit" method="POST">
        <input type="submit" value="edit">

    </form>